<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:/mapper/**/*_SQL.xml" />
	</bean>
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSession"/>
    </bean>  
</beans>

<!--
	name은 위에서 등록한 sqlSession 빈에서 사용할 이름
	ref는 context-datasource.xml에서 정의한 빈을 참조하는 것을 의미
	mapperLocations는 작성할 SQL문이 위치할 장소
	
	sqlSessionTemplate은 MyBatis 스프링 연동 모듈의 핵심이다.
	SqlSession을 구현하고, 코드에서 SqlSession을 대체하는 역할을 한다.
 -->